<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <link href="{{asset 'assets/dist/css/styles.css'}}" rel="stylesheet" type="text/css">
    <link href="{{asset 'images/favicon.png'}}" rel="shortcut icon">
    <script src="{{asset 'bower/jquery/dist/jquery.js'}}"></script>
    <script src="{{asset 'bower/modernizr/modernizr.js'}}"></script>
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div id="loader"></div>
    {{> header}}
    {{{body}}}
    {{> footer}}
    {{ghost_foot}}
    
    <script src="{{asset 'bower/foundation-sites/dist/foundation.js'}}"></script>
    <script src="{{asset 'bower/motion-ui/dist/motion-ui.js'}}"></script>
    <script src="{{asset 'bower/what-input/what-input.js'}}"></script>
    <script src="{{asset 'bower/nprogress/nprogress.js'}}"></script>
    <script src="{{asset 'bower/parallax.js/parallax.js'}}"></script>
    <script src="{{asset 'bower/typed.js/js/typed.js'}}"></script>
    <script src="{{asset 'bower/waypoints/lib/jquery.waypoints.js'}}"></script>
    <script src="{{asset 'bower/owl.carousel/dist/owl.carousel.js'}}"></script>
    <script src="{{asset 'bower/headroom.js/dist/headroom.js'}}"></script>
    <script src="{{asset 'bower/headroom.js/dist/jQuery.headroom.js'}}"></script>
    <script src="{{asset 'js/backgroundVideo.min.js'}}"></script>
    <script src="{{asset 'js/main.js'}}"></script>
    <script src="{{asset 'js/animations.js'}}"></script>
</body>
</html>