<!DOCTYPE html>
<html lang="de_DE">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="index, follow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>{{meta_title}}</title>
        <meta name="language" content="de-de" />
        <meta name="author" content="S&ouml;ren Oehding">
        <meta name="publisher" content="S&ouml;ren Oehding">
        <meta name="description" content="{{meta_description}}" />
        <meta name="keywords" content="webdesign, forntend development, forntend entwicklung, shopware, wordpress, ghost blog, Grafikdesign, design, ci, corporate identity, corporate design" />
        <meta name="classification" content="webdesign, forntend development, forntend entwicklung, shopware, wordpress, ghost blog, Grafikdesign, design, ci, corporate identity, corporate design" />

        <meta name="google-site-verification" content="3dzmCKtCJqRDoBwyjBm_Mju-ZZho6m7HlzJ7bxKqA6E" />

        {{!-- <link href="{{asset 'assets/css/styles.css'}}" rel="stylesheet" type="text/css"> --}}
        <link href="{{asset 'images/favicon.png'}}" rel="shortcut icon">

        <script type="text/javascript">
            window._themeConfig = {
                "disqusUsername": null,
                "googleAnalyticsId": null,
                "alternateSubscribeLink": null
            };
        </script>
        {{ghost_head}}
        
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5Q23MPX');</script>
        <!-- End Google Tag Manager -->
    </head>
    <body class="{{body_class}}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5Q23MPX" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="body-class" class="{{body_class}}"></div>
        {{!-- <div id="loader"></div> --}}
        <div id="ajax-container" style="display:none;">
            {{> header}}
            {{{body}}}
            {{> footer}}
            {{ghost_foot}}
        </div>
        <script src="{{asset 'js/common.js'}}"></script>
        <script src="{{asset 'js/main.js'}}"></script>
        {{>google-analytics}}
    </body>
</html>