<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />
        {{!-- <link href="{{asset 'assets/css/styles.css'}}" rel="stylesheet" type="text/css"> --}}
        <link href="{{asset 'images/favicon.png'}}" rel="shortcut icon">

        {{ghost_head}}
        <script type="text/javascript">
            window._themeConfig = {
                "disqusUsername": null,
                "googleAnalyticsId": null,
                "alternateSubscribeLink": null
            };
        </script>
    </head>
    <body class="{{body_class}}">
    <div id="body-class" class="{{body_class}}"></div>
        {{!-- <div id="loader"></div> --}}
        <div id="ajax-container" style="display:none;">
            {{> header}}
            {{{body}}}
            {{> footer}}
            {{ghost_foot}}
        </div>
        <script src="{{asset 'js/common.js'}}"></script>
        <script src="{{asset 'js/main.js'}}"></script>
        {{>google-analytics}}
    </body>
</html>