<section class="layout-row-top blog-teaser">
	<div class="small-12 columns"><h3 class="section-title">Blog<hr class="h-line"></h3></div>
    {{#get "posts" limit="3" filter="featured:true" as |featured|}}
    <div class="medium-8 columns">
	    <div class="teaser-wrapper">
			<img src="{{featured.0.image}}" alt="{{featured.0.title}}">
			<div class="teaser-overlay">
				<a href="{{featured.0.url}}"><h2 class="post-title">{{featured.0.title}}</h2></a>
			</div>
		</div>
	</div>
	<div class="medium-4 columns">
		<div class="teaser-wrapper" style="margin-bottom: 17px;">
			<img src="{{featured.1.image}}" alt="{{featured.1.title}}">
			<div class="teaser-overlay">
				<a href="{{featured.1.url}}"><h2 class="post-title">{{featured.1.title}}</h2></a>
			</div>
		</div>
		<div class="teaser-wrapper">
			<img src="{{featured.2.image}}" alt="{{featured.2.title}}">
			<div class="teaser-overlay">
				<a href="{{featured.2.url}}"><h2 class="post-title">{{featured.2.title}}</h2></a>
			</div>
		</div>
	</div>
	{{/get}}
</section>