<section class="layout-row-top animation-container">
	{{#foreach posts}}
		{{#has tag="services"}}
	        <article class="small-12 medium-6 large-4 columns service-item os-animation-stack" data-os-animation="fadeInUp" data-os-animation-delay="1.{{@number}}s">
			    <div class="row">
			        <div class="small-4 columns service-icon">
			            <img src="{{image}}" alt="{{{title}}}">
			        </div>
			        <div class="small-8 columns service-description">
			            <h4 class="portfolio-item-title">{{{title}}}<hr class="h-line"></h4>
			            {{{content}}}
			        </div>
			    </div>
			</article>
	    {{/has}}
	{{~/foreach}}
</section>