<section class="row-slider">
    <div class="small-12 columns ml-slider owl-carousel owl-theme no-pad">
        {{#foreach posts}}
            {{#has tag="portfolio"}}
            <article class="slider-item {{post_class}}">
                {{#if image}}
                <div class="image-wrapper">
                    <a href="{{url}}" class="post-image">
                        <img class="slider-image" src="{{image}}" alt="">
                    </a>
                    <span class="overlay">
                        <a href="{{url}}" class="post-link"><h2 class="post-title">{{{title}}}</h2></a>
                        <hr>
                        {{#if tags}}
                        <span class="tags">
                            <div class="tags small button-group">
                                <i class="label fa fa-tags"></i>
                                {{#foreach tags}}
                                    <a href="{{url}}" title="{{name}}" class="label tag-{{id}}">{{name}}</a>
                                {{/foreach}}
                            </div>
                        </span>
                    </div>
                    {{/if}}
                </span>
                {{else}}
                <div class="post-title">
                    <a href="{{url}}">{{{title}}}</a>
                    <hr>
                    <section class="post-meta">
                        {{#if tags}}
                        <span class="tags">
                            <div class="tags small button-group">
                                <i class="label fa fa-tags"></i>
                                {{#foreach tags}}
                                    <a href="{{url}}" title="{{name}}" class="label tag-{{id}}">{{name}}</a>
                                {{/foreach}}
                            </div>
                        </span>
                        {{/if}}
                    </section>
                </div>
                {{/if}}
            </article>
            {{/has}}
        {{~/foreach}}
    </div>
</section>